{
    "version": "2.0",
    "type": "REQUEST",
    "routeArn": "arn:aws:execute-api:us-east-1:321232436239:8qqqzi2334/$default/GET/plans/1/participants",
    "identitySource": [
        "Bearer ACCESS_TOKEN"
    ],
    "routeKey": "GET /plans/{planId}/participants",
    "rawPath": "/plans/1/participants",
    "rawQueryString": "",
    "headers": {
        "accept": "*/*",
        "authorization": "Bearer ACCESS_TOKEN",
        "content-length": "0",
        "host": "8qqqzi2334.execute-api.us-east-1.amazonaws.com",
        "user-agent": "curl/7.64.1",
        "x-amzn-trace-id": "Root=1-616d9741-7622a98119b6e070569a895e",
        "x-forwarded-for": "137.83.245.89",
        "x-forwarded-port": "443",
        "x-forwarded-proto": "https"
    },
    "requestContext": {
        "accountId": "321232436239",
        "apiId": "8qqqzi2334",
        "domainName": "8qqqzi2334.execute-api.us-east-1.amazonaws.com",
        "domainPrefix": "8qqqzi2334",
        "http": {
            "method": "GET",
            "path": "/plans/1/participants",
            "protocol": "HTTP/1.1",
            "sourceIp": "137.83.245.89",
            "userAgent": "curl/7.64.1"
        },
        "requestId": "HaSSSgM1IAMEVew=",
        "routeKey": "GET /plans/{planId}/participants",
        "stage": "$default",
        "time": "18/Oct/2021:15:48:17 +0000",
        "timeEpoch": 1634572097623
    },
    "pathParameters": { "planId": "1" }
}